.CodeMirror {
  height: auto;
  min-height: 14.75rem;
}
.CodeMirror-scroll {
  overflow-x: hidden !important;
}
.cm-s-dracula.CodeMirror,
.cm-s-dracula .CodeMirror-gutters {
  background: transparent !important;
}

.CodeMirror-overlayscroll-horizontal div, .CodeMirror-overlayscroll-vertical div {
  background: hsl(var(--p))
}